<venue-directive coffee-place-data="vm.coffeePlaceData"></venue-directive>

<div class="row" style="padding: 2rem;">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button type="button" class="btn btn-primary" ng-click="vm.changeDataGoing()">I'm Going</button>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button type="button" class="btn btn-primary center-block" ng-click="vm.changeDataLater()">Later</button>

  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button type="button" class="btn btn-primary pull-right" ng-click="vm.changeDataNever()">Never</button>
  </div>
</div>


